<div class="sidebar-boxed s-features">
  <ul class="list-unstyled">
    <li>We don't store your credit card.</li>
    <li>Free return in 30 days.</li>
    <li>No risk shopping.</li>
    <li>Products in stock delivered next day.</li>
  </ul>
</div>

<div class="well well-sm">
  <h4>Cart overview <small><a href="/cart">Edit cart</a></small></h4>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Qty</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="/img/img_product.jpg" width="30" />
        </td>
        <td>
          <strong>Organic gift basket</strong>
        </td>
        <td>2</td>
        <td>$2000,00</td>
      </tr>
      <tr>
        <td>
          <img src="/img/img_product.jpg" width="30" />
        </td>
        <td>
          <strong>Organic gift basket</strong>
        </td>
        <td>2</td>
        <td>$2000,00</td>
      </tr>
      <tr>
        <td>
          <img src="/img/img_product.jpg" width="30" />
        </td>
        <td>
          <strong>Organic gift basket</strong>
        </td>
        <td>2</td>
        <td>$2000,00</td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <span class="txt-label">Subtotal:</span> $4,000.00<br />
    <span class="txt-label">Shipping:</span> $50.00<br />
    <span class="txt-label">Handling:</span> $8.00<br />
    <span class="txt-label">Tax:</span> <small>calculated at checkout</small><br />
    <span class="txt-label">TOTAL:</span> <span class="price">$4,058.00</span>
  </div>
</div>
