<div class="container-fluid">

  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav nav-main">

      <li>
        <a href="/">Home</a>
      </li>

      <li class="nav-menu-main dropdown dropdown-large">
        <a class="dropdown-toggle link-main" data-toggle="dropdown" href="/">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="submenu-name dropdown-header">Category</li>
              <li class="submenu"><a class="link-sub" href="/">Home Improvement</a></li>
              <li class="submenu"><a class="link-sub" href="/">Bed Bath</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Brands</li>
              <li><a href="#">Armani</a></li>
              <li><a href="#">Versace</a></li>
              <li><a href="#">Italian name</a></li>
              <li><a href="#">Johnson Johnson</a></li>
              <li><a href="#">John Deere</a></li>
            </ul>
          </li>
          <!--li class="col-sm-3">
            <div class="promo-box dropdown">
              This is a Category 1 Promo item. Special sale -30% on all items here
            </div>
          </li-->
          <li class="col-sm-3 megaproducts">
            <form action="/cart" method="post">
              <div class="product-box">
                <span class="has-discount">
                  <span class="label label-warning discount">-45%</span>
                </span>
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="mega-product-link" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <strike class="original-price">$1660,99</strike>
                        </div>
                        <div class="form-group">
                          <span class="product-price">$1520,99</span>
                        </div>
                        <div class="form-group stock">
                          <span class="label label-info">in stock</span>
                        </div>
                        <input class="sku" name="sku" type="hidden" value="">
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </li>

      <li class="nav-menu-main">
        <a href="/" class="link-main">Trousers</a>
      </li>
      <li class="nav-menu-main">
        <a href="category.html">Shorts</a>
      </li>
      <li class="nav-menu-main">
        <a href="category.html">Hoodies</a>
      </li>
      <li class="nav-menu-main">
        <a href="category.html">Jackets</a>
      </li>
    </ul>
    <!--ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Link</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">All categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </li>
    </ul-->
  </div>
  <!--  /.navbar-collapse  -->
</div>
