            <div class="sidebar-widget">
              <ul class="nav nav-pills nav-stacked">
                <li class="nav-sibling">
                <a class="link" href="/">T-shirts <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Jackets <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Shoes <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Sport wear <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Outwear <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Shorts <span class="badge">23</span></a>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget facet-group">
              <h3 class="facet-group-title">Size</h3>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                <span class="facet-title">Small</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Medium</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Large</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Extra Large</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
            </div>
            <div class="sidebar-widget facet-group">
              <h3 class="facet-group-title">Color</h3>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Blue</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Red</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">Green</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
              <div class="checkbox">
                <label><input class="facet-name" type="checkbox" name="" value=""/>
                  <span class="facet-title">White</span> <span class="txt-secondary">(<span class="facet-count">424</span>)</span></label>
              </div>
            </div>
