            <div class="row">
              <div class="col-md-4">
                <div class="listing-results-number">
                  Showing results <strong><span class="pager_first_entry">1</span>-<span class="pager_last_entry">20</span></strong> of <strong class="pager_total_entries">400</strong></div>
              </div>
              <div class="col-md-5">
                <ul class="pagination">
                  <li class="enable_pagination_previous">
                    <a class="pagination_previous" href="#">«</a>
                  </li>
                  <li class="disable_pagination_previous disabled">
                    <a href="#">«</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">1</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">2</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">3</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">4</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">5</a>
                  </li>
                  <li class="enable_pagination_next">
                    <a class="pagination_next" href="#">»</a>
                  </li>
                  <li class="disable_pagination_next disabled">
                    <a href="#">»</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    Show
                    <select class="per_page form-control input-sm">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>40</option>
                    </select>
                    per page
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 btn-group view-selector" role="group">
                <button value="grid" type="button" class="view btn btn-default">
                  <span class="glyphicon glyphicon-th" aria-hidden="true"></span> <span class="view-text">Grid</span>
                </button>
                <button value="list" type="button" class="view btn btn-default">
                  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span class="view-text">List</span>
                </button>
              </div>
              <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    Sort by
                    <select class="order_by form-control input-sm">
                      <option>Position</option>
                      <option>Price</option>
                      <option>Name</option>
                      <option>SKU</option>
                    </select>
                    <button value="asc" type="button" class="btn btn-default order_direction">
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
