.icon {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon-view-compact:before {
  content: "\f039";
}
.icon-view-grid:before {
  content: "\f00a";
}
.icon-view-list:before {
  content: "\f00b";
}
.icon-view-simple:before {
  content: "\f03a";
}
.icon-arrow-down:before {
  content: "\f175";
}
.icon-arrow-up:before {
  content: "\f176";
}
