
		<!--  PRODUCT REVIEW  -->
      <div class="row">
        <div class="col-md-3">
          <div class="product-image">
            <div class="image-preview">
              <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
            </div>
            <div class="image-thumbnails">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
              </div>
             <!--  end .row  -->
								</div>
          </div>
        

							<!--  REVIEW - left bar  -->



					 </div>
        <div class="col-md-6">
          <h1 class="product-title">Organic gift basket for babies</h1>
          <div class="product-rating-wrap">
            <div class="row">
              <div class="col-md-4">
                <span class="product-rating">
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star_off.png" />
                </span>
              </div>
              <div class="col-md-8">
                <div class="product-reviews-summary"><span>4.7/5</span> based on <span>66</span> <a href="">reviews</a> | <a href="add-review.html">Write a review</a></div>
              </div>
            </div>
           <!--  end .row  -->
						</div>
          <h3>Add a review</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
          <div class="content-section accessories">
            <form>
              <h5>Quality</h5>
              <label class="radio-inline"><input id="inlineCheckbox1" name="quality" type="radio" value="option1" /> 1
							</label>
              <label class="radio-inline"><input id="inlineCheckbox2" name="quality" type="radio" value="option2" /> 2
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="quality" type="radio" value="option3" /> 3
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="quality" type="radio" value="option4" /> 4
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="quality" type="radio" value="option5" /> 5
							</label>
              <hr />
              <h5>Ease of use</h5>
              <label class="radio-inline"><input id="inlineCheckbox1" name="ease" type="radio" value="option1" /> 1
							</label>
              <label class="radio-inline"><input id="inlineCheckbox2" name="ease" type="radio" value="option2" /> 2
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="ease" type="radio" value="option3" /> 3
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="ease" type="radio" value="option4" /> 4
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="ease" type="radio" value="option5" /> 5
							</label>
              <hr />
              <h5>Price</h5>
              <label class="radio-inline"><input id="inlineCheckbox1" name="price" type="radio" value="option1" /> 1
							</label>
              <label class="radio-inline"><input id="inlineCheckbox2" name="price" type="radio" value="option2" /> 2
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="price" type="radio" value="option3" /> 3
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="price" type="radio" value="option4" /> 4
							</label>
              <label class="radio-inline"><input id="inlineCheckbox3" name="price" type="radio" value="option5" /> 5
							</label>
              <hr />
              <h5>Your comment</h5>
              <div class="form-group">
                <textarea class="form-control" placeholder="Enter text..."></textarea>
              </div>
              <div class="form-group">
                <input class="btn btn-success" type="submit" value="Publish a review" />
              </div>
            </form>
          </div>
         <!--  end .content-section  -->


					 </div>
        <div class="col-md-3">
          <!--  REVIEW - right bar  -->
          <div class="sidebar-right s-review">
            <div class="promo-box review">
								By writing a review, you enter a competition to win a gift certificate
							</div>
          </div>
        </div>
      </div>