
      <h1>Your shopping cart</h1>
        <div class="row">
          <div class="col-md-9">
            <table class="table table-bordered table-hover my-cart">
              <thead>
                <tr>
                  <th></th>
                  <th>
						Name
					</th>
                  <th>
						Unit price
					</th>
                  <th>
						Qty
					</th>
                  <th>
						Price
					</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cartitem">
                  <td width="60">
                    <img src="/img/img_product.jpg" width="60" />
                  </td>
                  <td class="td-middle">
                    <div class="cart-description">
                      <h4 class="cart-name">
                        <a class="product" href="/product-page.html">Organic gift basket for babies</a>
                      </h4>

                      <form role="form" action="">
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Color</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">blue</option>
                          </select>
                        </div>
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Size</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">small</option>
                          </select>
                        </div>
                      </form>

                    </div>
                  </td>
                  <td>
                    <div class="price-and-discount">
                      <div class="price-before">$2400.40</div>
                      <div class="discount">-20%</div>
                    </div>
                    <div class="price product-price">$2000.44</div>
                  </td>
                  <td class="td-middle" width="100">
                    <div class="cart-qty-wrap">
                      <form class="form-inline"><div class="form-group"><input class="form-control input-sm input-cart-qty" type="text" value="2" /></div> <a href=""><span class="glyphicon glyphicon-refresh"></span></a> <a href=""><span class="glyphicon glyphicon-remove"></span></a></form>
                    </div>
                  </td>
                  <td class="td-middle text-right" width="100">
                    <div class="price product-subtotal">$2000.44</div>
                  </td>
                </tr>
                <tr class="cartitem">
                  <td width="60">
                    <img src="/img/img_product.jpg" width="60" />
                  </td>
                  <td class="td-middle">
                    <div class="cart-description">
                      <h4 class="cart-name">
                        <a class="product" href="/product-page.html">Organic gift basket for babies</a>
                      </h4>

                      <form role="form" action="">
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Color</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">blue</option>
                          </select>
                        </div>
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Size</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">small</option>
                          </select>
                        </div>
                      </form>

                    </div>
                  </td>
                  <td>
                    <div class="price-and-discount">
                      <div class="price-before">$2400.40</div>
                      <div class="discount">-20%</div>
                    </div>
                    <div class="price product-price">$2000.44</div>
                  </td>
                  <td class="td-middle" width="100">
                    <div class="cart-qty-wrap">
                      <form class="form-inline"><div class="form-group"><input class="form-control input-sm input-cart-qty" type="text" value="2" /></div> <a href=""><span class="glyphicon glyphicon-refresh"></span></a> <a href=""><span class="glyphicon glyphicon-remove"></span></a></form>
                    </div>
                  </td>
                  <td class="td-middle text-right" width="100">
                    <div class="price product-subtotal">$2000.44</div>
                  </td>
                </tr>
                <tr class="cartitem">
                  <td width="60">
                    <img src="/img/img_product.jpg" width="60" />
                  </td>
                  <td class="td-middle">
                    <div class="cart-description">

                      <h4 class="cart-name">
                        <a class="product" href="/product-page.html">Organic gift basket for babies</a>
                      </h4>

                      <form role="form" action="">
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Color</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">blue</option>
                          </select>
                        </div>
                        <div class="form-group product-attributes-item">
                          <label class="product-attributes-title">Size</label>
                          <select class="form-control product-attributes-name">
                            <option class="product-attributes-values-item product-attributes-value">small</option>
                          </select>
                        </div>
                      </form>

                    </div>
                  </td>
                  <td>
                    <div class="price-and-discount">
                      <div class="price-before">$2400.40</div>
                      <div class="discount">-20%</div>
                    </div>
                    <div class="price product-price">$2000.44</div>
                  </td>
                  <td class="td-middle" width="100">
                    <div class="cart-qty-wrap">
                      <form class="form-inline"><div class="form-group"><input class="form-control input-sm input-cart-qty" type="text" value="2" /></div> <a href=""><span class="glyphicon glyphicon-refresh"></span></a> <a href=""><span class="glyphicon glyphicon-remove"></span></a></form>
                    </div>
                  </td>
                  <td class="td-middle text-right" width="100">
                    <div class="price product-subtotal">$2000.44</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-right" colspan="3"><span class="txt-label">Subtotal:</span> <span class="cart-subtotal">$4,000.00</span><br /><span class="txt-label">Shipping:</span> $50.00<br /><span class="txt-label">Handling:</span> $8.00<br /><span class="txt-label">TOTAL:</span> <span class="price cart-total">$4,058.00</span></td>
                </tr>
              </tbody>
            </table>
      <form action="/checkout" role="form" method="POST">
            <div class="text-right"><button class="btn btn-default btn-sm">Continue shopping</button> <button class="btn btn-success btn-lg btn-checkout" type="submit">Checkout</button></div>
            <div class="clear-20"></div>
            <div class="clear-20"></div>
            <div class="clear-20"></div>
            <div class="clear-20"></div>
            <div class="clear-20"></div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th class="text-right">Price</th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-sm-8 col-md-8">
                        <div class="media">
                          <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;" /> </a>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a href="#">Product name</a>
                            </h4>
                            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                            <span>Status: </span>
                            <span class="text-success">
                              <strong>In Stock</strong>
                            </span>
                          </div>
                        </div>
                      </td>
                      <td class="col-sm-2 col-md-2">
                        <div class="cart-qty-wrap">
                          <form class="form-inline"><div class="form-group"><input class="form-control input-sm input-cart-qty" type="text" value="2" /></div> <a href=""><span class="glyphicon glyphicon-refresh"></span></a> <a href=""><span class="glyphicon glyphicon-remove"></span></a></form>
                        </div>
                      </td>
                      <td class="col-sm-1 col-md-1 text-right">
                        <strong>$4.87</strong>
                      </td>
                      <td class="col-sm-1 col-md-1 text-right">
                        <strong>$14.61</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-9">
                        <div class="media">
                          <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;" /> </a>
                          <div class="media-body">
                            <h4 class="media-heading">
                              <a href="#">Product name</a>
                            </h4>
                            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                            <span>Status: </span>
                            <span class="text-warning">
                              <strong>Leaves warehouse in 2 - 3 weeks</strong>
                            </span>
                          </div>
                        </div>
                      </td>
                      <td class="col-sm-2 col-md-2">
                        <div class="cart-qty-wrap">
                          <form class="form-inline"><div class="form-group"><input class="form-control input-sm input-cart-qty" type="text" value="3" /></div> <a href=""><span class="glyphicon glyphicon-refresh"></span></a> <a href=""><span class="glyphicon glyphicon-remove"></span></a></form>
                        </div>
                      </td>
                      <td class="col-md-1 text-right">
                        <strong>$4.99</strong>
                      </td>
                      <td class="col-md-1 text-right">
                        <strong>$9.98</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="3">
                        <h5>Subtotal</h5>
                      </td>
                      <td class="text-right">
                        <h5>
                          <strong>$24.59</strong>
                        </h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="3">
                        <h5>Estimated shipping</h5>
                      </td>
                      <td class="text-right">
                        <h5>
                          <strong>$6.94</strong>
                        </h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="3">
                        <h3>Total</h3>
                      </td>
                      <td class="text-right">
                        <h3>
                          <strong>$31.53</strong>
                        </h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="4">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
								</button>
                        <button class="btn btn-success btn-lg btn-checkout" type="submit">
									Checkout <span class="glyphicon glyphicon-play"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="clear-20"></div>
            <div class="content-section accessories">
              <h4>Accessories for products in your cart</h4>
              <div class="row">
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
                <div class="col-xs-4 col-md-2">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                 <!--  end .product-box-sml  -->
					</div>
              </div>
             <!--  end .row  -->
			</div>
           <!--  end .content-section  -->

			
		</div>
          <div class="col-md-3">
            <div class="sidebar-right s-cart">
              <div class="well well-sm">
                <div class="form-group">
                  <button class="btn btn-success btn-block btn-lg btn-checkout">Checkout</button>
                </div>
                <div class="form-group">
						Enter your zip code to get shipping<br /><div class="input-group"><input class="form-control input-sm" placeholder="Enter your zip code..." type="text" /><span class="input-group-btn"><button class="btn btn-default btn-sm" type="button">Calculate</button></span></div><!--  /input-group  -->
					</div>
          <div class="form-group"><span class="txt-label">Subtotal:</span> <span class="cart-subtotal">$4,000.00</span><br /><span class="txt-label">Shipping:</span> $50.00<br /><span class="txt-label">Handling:</span> $8.00<br /><span class="txt-label">Tax:</span> <small>calculated at checkout</small><br /><span class="txt-label">TOTAL:</span> <span class="price cart-total">$4,058.00</span></div>
                <button class="btn btn-success btn-block btn-lg btn-checkout">Checkout</button>
              </div>
              <div class="sidebar-boxed save-cart">
                <h4>Save your cart for later</h4>
                <div class="input-group">
                  <input class="form-control input-sm" placeholder="Enter your e-mail..." type="text" />
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button">Save</button>
                  </span>
                </div>
              <!--  /input-group  -->

				</div>
              <!--  end .sidebar-boxed  -->
              <div class="sidebar-boxed product-similar">
                <h4>Accessories for products in your cart</h4>
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                    <div class="product-box-sml">
                      <img class="img-responsive" src="/img/img_product.jpg" />
                      <div class="product-details">
                        <div class="product-description">
                          <a href="/product-page.html">Organic gift basket for babies</a>
                        </div>
                        <div class="product-options">
                          <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                          <button class="btn btn-success btn-sm">Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div class="product-box-sml">
                      <img class="img-responsive" src="/img/img_product.jpg" />
                      <div class="product-details">
                        <div class="product-description">
                          <a href="/product-page.html">Organic gift basket for babies</a>
                        </div>
                        <div class="product-options">
                          <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                          <button class="btn btn-success btn-sm">Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               <!--  end .row  -->
				</div>
              <!--  end .sidebar-boxed  -->
              <div class="sidebar-boxed s-features">
                <ul class="list-unstyled">
                  <li>We don't store your credit card.</li>
                  <li>Free return in 30 days.</li>
                  <li>No risk shopping.</li>
                  <li>Products in stock delivered next day.</li>
                </ul>
              </div>
            </div>
           <!--  end .sidebar-right  -->

		</div>
        </div>
      </form>
