
      <div class="row">
        <div class="col-md-12">
          <div class="cat-header">
            <div class="cat-header-slide">
              <div class="cat-header-title">
                <h1 class="category">Shirts</h1>
                <h3>Discover our selection of <span class="category">Category 1 products</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  end .row  -->
      <div class="well well-sm box-full">
        <h3>Our brands</h3>
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
        </div>
       <!--  end .row  -->
		
	</div>
      <!--  end .box-full  -->
      <div class="row">
        <div class="col-md-6">
          <div class="well well-sm brands-half">
            <h3 id="cat-products">Our Cat1 products</h3>
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li class="cat-link"><a href="/" class="cat-name">Armani</span></li>
                  <li class="cat-link">Simms</li>
                  <li class="cat-link">Nike</li>
                  <li class="cat-link">Adidas</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Armani</li>
                  <li>Simms</li>
                  <li>Nike</li>
                  <li>Adidas</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Armani</li>
                  <li>Simms</li>
                  <li>Nike</li>
                  <li>Adidas</li>
                </ul>
              </div>
            </div>
          </div>
         <!--  end .box-half  -->
			
		</div>
        <div class="col-md-6">
          <div class="product-box">
            <div class="row">
              <div class="col-md-4">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-sml">
                  <span class="label label-warning discount">-20%</span>
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <!--  end .row  -->
				
			</div>
         <!--  end .product-box  -->
			
		</div>
      </div>
