
      <div class="row">
        <div class="col-md-12">
          <div class="cat-header">
            <div class="carousel slide" data-ride="carousel" id="slideshow">
              <!--  Indicators  -->
              <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#slideshow"></li>
                <li data-slide-to="1" data-target="#slideshow"></li>
              </ol>
              <!--  Wrapper for slides  -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="cat-header-slide">
                    <div class="cat-header-title">
                      <h1>Shirts</h1>
                      <h3>Discover our selection of Category 1 products</h3>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <img class="img-responsive" src="/img/header_cat2.jpg" />
                  <div class="carousel-caption">
                    <h3>Special offer on all shirts!</h3>
                  </div>
                </div>
              </div>
              <!--  Controls  -->
              <a class="left carousel-control" data-slide="prev" href="#slideshow">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" data-slide="next" href="#slideshow">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  end .row  -->
      <div class="well well-sm box-full">
        <h3>Our brands</h3>
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>Armani</li>
              <li>Simms</li>
              <li>Nike</li>
              <li>Adidas</li>
            </ul>
          </div>
        </div>
       <!--  end .row  -->
		
	</div>
      <!--  end .box-full  -->
      <div class="row">
        <div class="col-md-6">
          <div class="well well-sm brands-half">
            <h3>Our Cat1 products</h3>
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li>Armani</li>
                  <li>Simms</li>
                  <li>Nike</li>
                  <li>Adidas</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Armani</li>
                  <li>Simms</li>
                  <li>Nike</li>
                  <li>Adidas</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Armani</li>
                  <li>Simms</li>
                  <li>Nike</li>
                  <li>Adidas</li>
                </ul>
              </div>
            </div>
          </div>
         <!--  end .box-half  -->
			
		</div>
        <div class="col-md-6">
          <div class="product-box">
            <div class="row">
              <div class="col-md-4">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-sml">
                  <span class="label label-warning discount">-20%</span>
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="/product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <!--  end .row  -->
				
			</div>
         <!--  end .product-box  -->
			
		</div>
      </div>