
      <h1>Thank you for your order!</h1>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-print"></span>
 Print receipt</button>
              <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-file"></span> Download PDF</button>
            </div>
          </div>
          <!--  end .row  -->
          <hr />
          <h3>Here's a summary of your order</h3>
          <table class="table table-condensed my-cart">
            <thead>
              <tr>
                <th>
						Name
					</th>
                <th>
						Item price
					</th>
                <th>
						TAX
					</th>
                <th>
						Qty
					</th>
                <th>
						Price
					</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
						$2400.40
					</td>
                <td>
						$2.80
					</td>
                <td class="td-middle" width="100">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
						$2400.40
					</td>
                <td>
						$2.80
					</td>
                <td class="td-middle" width="100">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
						$2400.40
					</td>
                <td>
						$2.80
					</td>
                <td class="td-middle" width="100">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
						$2400.40
					</td>
                <td>
						$2.80
					</td>
                <td class="td-middle" width="100">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
						$2400.40
					</td>
                <td>
						$2.80
					</td>
                <td class="td-middle" width="100">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="text-right" colspan="3"><span class="txt-label">Subtotal:</span> $4,000.00<br /><span class="txt-label">Shipping:</span> $50.00<br /><span class="txt-label">Handling:</span> $8.00<br /><span class="txt-label">TOTAL:</span> <span class="price">$4,058.00</span></td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-4">
              <address class="cart-address"><h4>Sold by</h4><strong>John D. Doe</strong><br />
						Address name 1<br />
						Second address row<br />
						12312 Townname, State<br />
						Country<br /><br /><span class="txt-label">Phone:</span> 234 565622<br /><span class="txt-label">VAT ID:</span> SI344665767
					</address>
            </div>
            <div class="col-md-4">
              <address class="cart-address"><h4>Shipped to</h4><strong>John D. Doe</strong><br />
						Address name 1<br />
						Second address row<br />
						12312 Townname, State<br />
						Country<br /><br /><span class="txt-label">Phone:</span> 234 565622<br /></address>
            </div>
            <div class="col-md-4">
              <address class="cart-address"><h4>Billed to</h4><strong>John D. Doe</strong><br />
						Address name 1<br />
						Second address row<br />
						12312 Townname, State<br />
						Country<br /><br /><span class="txt-label">Phone:</span> 234 565622<br /><span class="txt-label">VAT ID:</span> SI344665767
					</address>
            </div>
          </div>
         <!--  end .row  -->

			
		</div>
        <div class="col-md-3">
          <div class="sidebar-right s-receipt">
            <div class="sidebar-boxed product-similar">
              <h4>Accessories for products you bought</h4>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end .row  -->
              <div class="clear-20"></div>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .row  -->
				</div>
           <!--  end .sidebar-boxed  -->

			</div>
         <!--  end .sidebar-right  -->

		</div>
      </div>