
      <h1>Checkout</h1>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <h4>Customer information</h4>
              <div class="row">
                <div class="col-md-12">
                  <form class="form-horizontal" role="form">
                    <fieldset>
                      <!--  Form Name
						<legend>Customer information</legend>  -->

						<!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">E-mail</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="Your email..." type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">First name</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="First name..." type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">Last name</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="Last name..." type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">Line 1</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="Address Line 1" type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">Line 2</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="Address Line 2" type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">City</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="City" type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">State</label>
                        <div class="col-sm-3">
                          <input class="form-control" placeholder="State" type="text" />
                        </div>
                        <label class="col-sm-3 control-label" for="textinput">Postcode</label>
                        <div class="col-sm-3">
                          <input class="form-control" placeholder="Post Code" type="text" />
                        </div>
                      </div>
                      <!--  Text input -->
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="textinput">Country</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="Country" type="text" />
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              <!--  /.col-lg-12  -->
					</div>
              <!--  /.row  -->
              <hr />
              <h4>Shipping information</h4>
              <div class="checkbox">
                <label><input id="toggle-shipping" type="checkbox" value="" />
					Shipping address is different
					</label>
              </div>
              <div class="clear-10"></div>
              <div class="shipping-address">
                <div class="row">
                  <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                      <fieldset>
                        <!--  Form Name
						<legend>Shipping information</legend>  -->

						<!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">E-mail</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="Your email..." type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">First name</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="First name..." type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">Last name</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="Last name..." type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">Line 1</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="Address Line 1" type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">Line 2</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="Address Line 2" type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">City</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="City" type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">State</label>
                          <div class="col-sm-3">
                            <input class="form-control" placeholder="State" type="text" />
                          </div>
                          <label class="col-sm-3 control-label" for="textinput">Postcode</label>
                          <div class="col-sm-3">
                            <input class="form-control" placeholder="Post Code" type="text" />
                          </div>
                        </div>
                        <!--  Text input -->
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="textinput">Country</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="Country" type="text" />
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                <!--  /.col-lg-12  -->
					</div>
              <!--  /.row  -->
					</div>
              <!--  /.shipping-address  -->
              <hr />
              <h4>Shipping method</h4>
              <div class="radio">
                <label><input checked="checked" id="optionsRadios1" name="optionsRadios" type="radio" value="option1" />
							UPS Next Day (est. delivery <strong>6/11/2014</strong>)
						</label>
              </div>
              <div class="radio">
                <label><input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" />
						UPS Next Day (est. delivery <strong>6/11/2014</strong>) + <strong>$4.99</strong></label>
              </div>
              <div class="radio">
                <label><input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" />
						UPS Next Day (est. delivery <strong>6/11/2014</strong>) + <strong>$4.99</strong></label>
              </div>
              <div class="radio">
                <label><input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" />
						UPS Next Day (est. delivery <strong>6/11/2014</strong>) + <strong>$4.99</strong></label>
              </div>
              <hr />
              <h4>Is this a gift?</h4>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Remove price tags (<strong>FREE</strong>)
						</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Add gift wrapping (<strong>+$2.99</strong>)
						</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Custom inscription
						</label>
                <input placeholder="Enter text..." type="text" />
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Add gift wrapping (<strong>+$2.99</strong>)
						</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-section">
                <h4>Already have an account with us?<br /><small>Sign in to make checkout faster</small></h4>
                <form role="form">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">Username or Email</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email" />
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password" />
                  </div>
                  <button class="btn btn-sm btn-default" type="submit">Sign in</button>
                </form>
              </div>
              <!--  end .content-section  -->
              <div class="content-section">
                <h4>EU Business?<br /><small>Enter your VAT ID</small></h4>
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Country</label>
                    <select class="form-control">
                      <option>NL</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">VAT ID</label>
                    <input class="form-control" id="exampleInputPassword2" placeholder="VAT ID number..." type="password" />
                  </div>
                  <button class="btn btn-default" type="submit">Check</button>
                </form>
                <div class="clear-20"></div>
                <address><strong>Company name something Ltd.</strong><br />
							Address name 1<br />
							Second address row<br />
							12312 Townname, State<br />
							Country<br /><button class="btn btn-primary btn-sm">Use this address</button></address>
              </div>
              <!--  end .content-section  -->
              <div class="row no-gutter">
                <div class="col-md-6">
                  <address class="cart-address"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button><strong>John D. Doe</strong><br />
								Address name 1<br />
								Second address row<br />
								12312 Townname, State<br />
								Country<br /><button class="btn btn-primary btn-xs btn-block">Use this address</button></address>
                </div>
                <div class="col-md-6">
                  <address class="cart-address"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button><strong>John D. Doe</strong><br />
								Address name 1<br />
								Second address row<br />
								12312 Townname, State<br />
								Country<br /><button class="btn btn-primary btn-xs btn-block">Use this address</button></address>
                </div>
                <div class="col-md-6">
                  <address class="cart-address"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button><strong>John D. Doe</strong><br />
								Address name 1<br />
								Second address row<br />
								12312 Townname, State<br />
								Country<br /><button class="btn btn-primary btn-xs btn-block">Use this address</button></address>
                </div>
                <div class="col-md-6">
                  <address class="cart-address"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button><strong>John D. Doe</strong><br />
								Address name 1<br />
								Second address row<br />
								12312 Townname, State<br />
								Country<br /><button class="btn btn-primary btn-xs btn-block">Use this address</button></address>
                </div>
              </div>
             <!--  end .row  -->

				</div>
          </div>
          <!--  end .row  -->
          <div class="row">
            <div class="col-md-12">
              <hr />
              <h4>Payment</h4>
              <div class="payment-options">
                <label class="radio-inline"><input name="payment-option" type="radio" value="" />
							Credit card
						</label>
                <label class="radio-inline"><input name="payment-option" type="radio" value="" />
							Wire transfer
						</label>
                <label class="radio-inline"><input name="payment-option" type="radio" value="" />
							Cash on delivery
						</label>
                <label class="radio-inline"><input name="payment-option" type="radio" value="" />
							Paypal
						</label>
                <label class="radio-inline"><input name="payment-option" type="radio" value="" />
							Google Checkout
						</label>
              </div>
              <div class="well">
                <div class="payment-cards"><img src="/img/i_visa.png" /> <img src="/img/i_mastercard.png" /> <img src="/img/i_amex.png" /></div>
                <div class="row">
                  <div class="col-md-7">
                    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
                    <form accept-charset="UTF-8" action="checkout_receipt.html" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post">
                      <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓" />
                        <input name="_method" type="hidden" value="PUT" />
                        <input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" />
                      </div>
                      <div class="form-row">
                        <div class="col-xs-12 form-group required">
                          <label class="control-label">Name on Card</label>
                          <input class="form-control" size="4" type="text" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xs-12 form-group card required">
                          <label class="control-label">Card Number</label>
                          <input autocomplete="off" class="form-control card-number" size="20" type="text" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xs-4 form-group expiration required">
                          <label class="control-label">Expiration</label>
                          <input class="form-control card-expiry-month" placeholder="MM" size="2" type="text" />
                        </div>
                        <div class="col-xs-4 form-group expiration required">
                          <label class="control-label"> </label>
                          <input class="form-control card-expiry-year" placeholder="YYYY" size="4" type="text" />
                        </div>
                        <div class="col-xs-4 form-group cvc required">
                          <label class="control-label">CVC/CVV</label>
                          <input autocomplete="off" class="form-control card-cvc" placeholder="ex. 311" size="4" type="text" />
                        </div>
                      </div>
                      <div class="form-row coupon-wrap">
                        <div class="col-md-12 form-group">
                          <label class=""><input type="checkbox" /> I have a coupon code</label>
                        </div>
                        <div class="col-md-12 form-group">
                          <div class="form-inline">
                            <div class="form-group">
                              <input class="form-control input-sm" placeholder="Coupon number" type="text" />
                            </div>
                            <input class="btn btn-default btn-sm" type="submit" value="Apply" />
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="alert alert-info">
										 You have applied a coupon for $44.44. You will pay only $4444.44 <small><a href="">Remove coupon</a></small></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 form-group">
                          <button class="btn btn-success btn-lg btn-block submit-button" type="submit">Confirm order »</button>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 error form-group hide">
                          <div class="alert-danger alert">
								Please correct the errors and try again.
								</div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-5">
                    <img class="img-thumbnail" src="/img/card_security-code.jpg" />
                  </div>
                </div>
               <!--  end .row  -->

					</div>
            </div>
          </div>
         <!--  end .row  -->


			
		</div>
        <div class="col-md-3">
          <div class="sidebar-right s-cart">
            <div class="sidebar-boxed s-features">
              <ul class="list-unstyled">
                <li>We don't store your credit card.</li>
                <li>Free return in 30 days.</li>
                <li>No risk shopping.</li>
                <li>Products in stock delivered next day.</li>
              </ul>
            </div>
            <div class="well well-sm">
              <h4>Cart overview <small><a href="/cart">Edit cart</a></small></h4>
              <table class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <td></td>
                    <td>
								Name
							</td>
                    <td>
								Qty
							</td>
                    <td>
								Price
							</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="/img/img_product.jpg" width="30" />
                    </td>
                    <td>
                      <strong>Organic gift basket</strong>
                    </td>
                    <td>
								2
							</td>
                    <td>
								$2000,00
							</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="/img/img_product.jpg" width="30" />
                    </td>
                    <td>
                      <strong>Organic gift basket</strong>
                    </td>
                    <td>
								2
							</td>
                    <td>
								$2000,00
							</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="/img/img_product.jpg" width="30" />
                    </td>
                    <td>
                      <strong>Organic gift basket</strong>
                    </td>
                    <td>
								2
							</td>
                    <td>
								$2000,00
							</td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group"><span class="txt-label">Subtotal:</span> $4,000.00<br /><span class="txt-label">Shipping:</span> $50.00<br /><span class="txt-label">Handling:</span> $8.00<br /><span class="txt-label">Tax:</span> <small>calculated at checkout</small><br /><span class="txt-label">TOTAL:</span> <span class="price">$4,058.00</span></div>
            </div>
          </div>
         <!--  end .sidebar-right  -->

		</div>
      </div>