
      <h1>Contact us</h1>
      <div class="row">
        <div class="col-md-6">
          <h3>Send us a message<br /><small>We usually respond within 24 hours on business days</small></h3>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success"><span class="glyphicon glyphicon-send"></span> <strong>Success!</strong> Message sent.
					</div>
              <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Error!</strong> Please check the inputs.
					</div>
            </div>
            <form action="" method="post" role="form">
              <div class="col-md-12">
                <div class="well well-sm">
                  <strong><i class="glyphicon glyphicon-ok form-control-feedback"></i> Required Field</strong>
                </div>
                <div class="form-group">
                  <label for="InputName">Your Name</label>
                  <div class="input-group">
                    <input class="form-control" id="InputName" name="InputName" placeholder="Enter Name" required="required" type="text" />
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputEmail">Your Email</label>
                  <div class="input-group">
                    <input class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required="required" type="email" />
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputMessage">Message</label>
                  <div class="input-group">
                    <textarea class="form-control" id="InputMessage" name="InputMessage" required="required" rows="5"></textarea>
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
                  <div class="input-group">
                    <input class="form-control" id="InputReal" name="InputReal" required="required" type="text" />
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                    </span>
                  </div>
                </div>
                <input class="btn btn-success pull-right" id="submit" name="submit" type="submit" value="Send inquiry" />
              </div>
            </form>
          </div>
         <!--  end .row  -->
				
		</div>
        <div class="col-md-6">
          <h3>Location</h3>
          <address><strong>Company name something Ltd.</strong><br />
			Address name 1<br />
			Second address row<br />
			12312 Townname, State<br />
			Country<br /><br /><span class="txt-label">Phone:</span> 607-444-3432<br /><span class="txt-label">E-mail:</span> info@companyname.com<br /></address>
          <iframe frameborder="0" height="400" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13414.299463040494!2d-79.94503988623039!3d32.80353007804375!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1400498336363" style="border:0" width="100%"></iframe>
        </div>
      </div>