<div class="row">

  <div class="col-md-3">
    <div class="promo-box front">
      Get <strong>free shipping</strong> on all orders placed before <strong>November 1st</strong>.
    </div>
  </div>

  <div class="col-md-3 offers"><!-- we expect 3 of these -->
    <div class="product-box">
      <span class="has-discount">
        <span class="label label-warning discount">-45%</span>
      </span>
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src="/img/img_product.jpg" />
        </div>
        <div class="col-md-7">
          <div class="product-details">
            <div class="product-description">
              <a class="name" href="/">Organic gift basket for babies</a>
            </div>
            <div class="product-options">
              <div class="has-discount">
                <strike class="original-price">$1660,99</strike>
              </div>
              <div class="form-group">
                <span class="product-price">$1520,99</span>
              </div>
              <div class="form-group instock">
                <span class="label label-info">in stock</span>
              </div>
              <form action="/cart" method="post">
                <input type="hidden" name="sku" class="sku" value="">
                <button class="btn btn-success btn-sm">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div>
  <div class="product-box">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12 products">
        <div class="product-box-sml">
          <img class="img-responsive" src="/img/img_product.jpg" />
          <div class="product-details">
            <div class="product-description">
              <a class="name" href="/">Organic gift basket for babies</a>
            </div>
            <div class="product-options">
              <div class="has-discount">
                <strike class="original-price">$1660,99</strike>
              </div>
              <div class="form-group">
                <span class="product-price">$1520,99</span>
              </div>
              <div class="form-group instock">
                <span class="label label-info">in stock</span>
              </div>
              <form action="/cart" method="post">
                <input type="hidden" name="sku" class="sku" value="">
                <button class="btn btn-success btn-sm">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well well-sm brands-full">
  <h3>Our brands</h3>
  <div class="row">
    <div class="col-md-2 brands"><!-- 6 columns expected -->
      <ul>
        <li class="brand"><a class="uri" href="/">Armani</a></li>
        <li class="brand"><a class="uri" href="/">Simms</li>
        <li class="brand"><a class="uri" href="/">Nike</li>
        <li class="brand"><a class="uri" href="/">Adidas</li>
      </ul>
    </div>
  </div>
</div>
