
      <h1>Orders</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-left s-orders">
            <h3>Your orders</h3>
            <div class="form-group orders-period">
              <select class="form-control input-sm">
                <option>All</option>
                <option>2014</option>
              </select>
            </div>
            <div class="sidebar-widget">
              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="#">
							Order no: <strong>24556754</strong><br /><small>2/21/2014 | $510,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>00553453</strong><br /><small>1/17/2014 | $3060,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>62229996</strong><br /><small>1/4/2014 | $84,70</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>88556558</strong><br /><small>12/9/2013 | $3060,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>62229996</strong><br /><small>10/26/2013 | $84,70</small></a>
                </li>
              </ul>
            </div>
            <!--  end .sidebar-widget  -->
            <div class="sidebar-widget">
              <ul class="pagination pagination-sm">
                <li>
                  <a href="#">«</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">»</a>
                </li>
              </ul>
            </div>
           <!--  end .sidebar-widget  -->
            </div>
         <!--  end .sidebar-left  -->
				
		</div>
        <div class="col-md-9">
          <button class="btn btn-primary btn-xs pull-right">Return these items</button>
          <h3>Order no: <strong>234242234</strong><br /><small>Ordered: 2/21/2014</small></h3>
          <div class="alert alert-success text-center">
				Status:<br /><strong>DELIVERED 2/22/2015</strong></div>
          <table class="table table-condensed my-cart">
            <tbody>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
                  <div class="alert alert-success text-center alert-small"><strong>DELIVERED</strong><br />
							2/22/2015
						</div>
                </td>
                <td class="td-middle">
						$2400.40
					</td>
                <td class="td-middle" width="50">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
                  <div class="alert alert-info text-center alert-small">
                    <strong>SHIPPED</strong>
                    <br />
                    <a href="">Track your shipment</a>
                  </div>
                </td>
                <td class="td-middle">
						$2400.40
					</td>
                <td class="td-middle" width="50">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
                  <div class="alert alert-warning text-center alert-small">
                    <strong>STALLED</strong>
                    <br />
                    <a href="">Track your shipment</a>
                  </div>
                </td>
                <td class="td-middle">
						$2400.40
					</td>
                <td class="td-middle" width="50">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
                  <div class="alert alert-success text-center alert-small"><strong>DELIVERED</strong><br />
							2/22/2015
						</div>
                </td>
                <td class="td-middle">
						$2400.40
					</td>
                <td class="td-middle" width="50">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td class="td-middle">
                  <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                </td>
                <td>
                  <div class="alert alert-warning text-center alert-small">
                    <strong>STALLED</strong>
                    <br />
                    <a href="">Track your shipment</a>
                  </div>
                </td>
                <td class="td-middle">
						$2400.40
					</td>
                <td class="td-middle" width="50">
						3
					</td>
                <td class="td-middle text-right" width="100">
                  <div class="price">$2000.44</div>
                </td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td class="text-right" colspan="2"><span class="txt-label">Subtotal:</span> $4,000.00<br /><span class="txt-label">Shipping:</span> $50.00<br /><span class="txt-label">Handling:</span> $8.00<br /><span class="txt-label">TOTAL:</span> <span class="price">$4,058.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>