
      <h1>Orders</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-left s-orders">
            <h3>Your orders</h3>
            <div class="form-group orders-period">
              <select class="form-control input-sm">
                <option>All</option>
                <option>2014</option>
              </select>
            </div>
            <div class="sidebar-widget">
              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="#">
							Order no: <strong>24556754</strong><br /><small>2/21/2014 | $510,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>00553453</strong><br /><small>1/17/2014 | $3060,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>62229996</strong><br /><small>1/4/2014 | $84,70</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>88556558</strong><br /><small>12/9/2013 | $3060,00</small></a>
                </li>
                <li>
                  <a href="#">
							Order no: <strong>62229996</strong><br /><small>10/26/2013 | $84,70</small></a>
                </li>
              </ul>
            </div>
            <!--  end .sidebar-widget  -->
            <div class="sidebar-widget">
              <ul class="pagination pagination-sm">
                <li>
                  <a href="#">«</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">»</a>
                </li>
              </ul>
            </div>
           <!--  end .sidebar-widget  -->
            </div>
         <!--  end .sidebar-left  -->
				
		</div>
        <div class="col-md-9">
          <button class="btn btn-primary btn-xs pull-right">Return these items</button>
          <h3>Order no: <strong>234242234</strong><br /><small>Ordered: 2/21/2014</small></h3>
          <div class="alert alert-success text-center">
				Status:<br /><strong>DELIVERED 2/22/2015</strong></div>
          <div class="well">
            <form>
              <h4>Select items you want to return</h4>
              <table class="table table-condensed my-cart">
                <tbody>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
							</div>
                    </td>
                    <td class="td-middle">
							Serial number: 334234424234)
						</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
							</div>
                    </td>
                    <td class="td-middle">
							Serial number: 334234424234)
						</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
							</div>
                    </td>
                    <td class="td-middle">
							Serial number: 334234424234)
						</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
							</div>
                    </td>
                    <td class="td-middle">
							Serial number: 334234424234)
						</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
							</div>
                    </td>
                    <td class="td-middle">
							Serial number: 334234424234)
						</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-danger">Return selected items</button>
            </form>
          </div>
          <div class="clear-20"></div>
          <h4>Items that can't be returned<br /><small>Return window expired for this products so you can not return them</small></h4>
          <form>
            <fieldset disabled="disabled">
              <table class="table table-condensed my-cart">
                <tbody>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong disabled="disabled">Organic gift basket for babies</strong> (blure large)
						</div>
                    </td>
                    <td class="td-middle">
						Serial number: 334234424234)
					</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                    </td>
                    <td class="td-middle">
						Serial number: 334234424234)
					</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="10">
                      <input type="checkbox" value="" />
                    </td>
                    <td class="td-middle">
                      <div class="cart-description"><strong>Organic gift basket for babies</strong> (blure large)
						</div>
                    </td>
                    <td class="td-middle">
						Serial number: 334234424234)
					</td>
                    <td class="td-middle text-right" width="100">
                      <div class="price">$2000.44</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </form>
        </div>
      </div>