
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-left s-listing">
            <div class="sidebar-widget">
              <ul class="nav nav-pills nav-stacked">
                <li class="nav-sibling">
                <a class="link" href="/">T-shirts <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Jackets <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Shoes <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Sport wear <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Outwear <span class="badge">23</span></a>
                </li>
                <li class="nav-sibling">
                <a class="link" href="/">Shorts <span class="badge">23</span></a>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h3>Size</h3>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Small <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Medium <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Large <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Extra Large <span class="txt-secondary">(424)</span></label>
              </div>
            </div>
            <div class="sidebar-widget">
              <h3>Color</h3>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Blue <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Red <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Green <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						White <span class="txt-secondary">(424)</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">

          <div class="listing-top">
            <div class="row">
              <div class="col-md-4">
                <div class="listing-results-number">
                  Showing results <strong><span class="pager_first_entry">1</span>-<span class="pager_last_entry">20</span></strong> of <strong class="pager_total_entries">400</strong></div>
              </div>
              <div class="col-md-5">
                <ul class="pagination">
                  <li class="enable_pagination_previous">
                    <a class="pagination_previous" href="#">«</a>
                  </li>
                  <li class="disable_pagination_previous disabled">
                    <a href="#">«</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">1</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">2</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">3</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">4</a>
                  </li>
                  <li class="page">
                    <a class="page_number" href="#">5</a>
                  </li>
                  <li class="enable_pagination_next">
                    <a class="pagination_next" href="#">»</a>
                  </li>
                  <li class="disable_pagination_next disabled">
                    <a href="#">»</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    Show
                    <select class="per_page form-control input-sm">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>40</option>
                    </select>
                    per page
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 btn-group" role="group">
                <button value="grid" type="button" class="view btn btn-default" aria-label="Grid">
                  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                </button>
                <button value="list" type="button" class="view btn btn-default" aria-label="List">
                  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
                <button value="simple" type="button" class="view btn btn-default" aria-label="Simple">
                  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
                <button value="compact" type="button" class="view btn btn-default" aria-label="Compact">
                  <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </button>
              </div>
              <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    Sort by
                    <select class="order_by form-control input-sm">
                      <option>Position</option>
                      <option>Price</option>
                      <option>Name</option>
                      <option>SKU</option>
                    </select>
                    <button value="asc" type="button" class="btn btn-default order_direction">
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr>

          <!--  ***** GRID VIEW ************************************  -->
          <div class="view-grid">
            <div class="row product-box-grid-row">

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="price"><strike>$1660,99</strike></div>
                          <div class="product-price selling-price">$1520,99</div>
                        </div>
                        <div class="no-discount">
                          <div class="product-price price">$1520,99</div>
                        </div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="original-price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="original-price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="original-price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="original-price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="original-price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- end .col-md-4 .product-box-grid -->

				    </div><!--  end .row  -->
          </div><!-- end .view-grid -->
			
          
			<!--  ***** LIST VIEW ************************************  -->
          <div class="view-list">
          <div class="product-box-list">
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive product-box-list-image" src="/img/img_product.jpg" />
              </div>
              <div class="col-md-6">
                <div class="product-details">
                  <div class="item-list-title"><a class="product-name" href="/">Organic gift basket for babies</a> <span class="item-list-rating"><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star_off.png" /></span> <span class="instock"><span class="label label-info">in stock</span></span></div>
                  <div class="product-description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...
							</div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="has-discount">
                  <div class="price"><strike>$1660,99</strike></div>
                  <div class="product-price selling-price">$1520,99</div>
                  <span class="label label-warning discount-list">-20%</span>
                </div>
                <div class="no-discount">
                  <div class="product-price price">$1520,99</div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="item-list-actions">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-3 control-label" for="">Qty.:</label>
                        <div class="col-md-8">
                          <input class="form-control" type="text" value="1" />
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .product-box-list  -->
        </div><!-- end .view-list -->
			

			<!--  ***** LIST VIEW - SIMPLE ************************************  -->
          <div class="view-simple">
          <div class="product-box-simple">
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive product-box-list-image" src="/img/img_product.jpg" />
              </div>
              <div class="col-md-6">
                <div class="product-details">
                  <div class="item-list-title"><a class="product-name" href="/">Organic gift basket for babies</a> <span class="item-list-rating"><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star_off.png" /></span></div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="has-discount">
                        <div class="price"><strike>$1660,99</strike></div>
                        <div class="product-price selling-price">$1520,99</div>
                      </div>
                      <div class="no-discount">
                        <div class="product-price price">$1520,99</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <span class="label label-info instock">in stock</span>
                    </div>
                    <div class="col-md-3 has-discount">
                      <span class="label label-warning discount-list">-20%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-list-actions-simple">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .product-box-list  -->
        </div><!-- end .view-simple -->
			
			
			<!--  ***** COMPACT VIEW ************************************  -->
          <div class="view-compact">
          <div class="product-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a href="/" class="product-name">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="has-discount">
                        <div class="price"><strike>$1660,99</strike></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="has-discount">
                        <div class="product-price selling-price">$1520,99</div>
                      </div>
                      <div class="no-discount">
                        <div class="product-price price">$1520,99</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info instock">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline" method="POST" action="/cart">
                    <div class="form-group">
                      <input name="sku" type="hidden" class="input-sku"/>
                      <label class="control-label" for="">Qty.:</label>
                      <input name="quantity" class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .product-box-list  -->
          <div class="product-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a class="product-name" href="/">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="has-discount">
                        <div class="original-price"><strike>$1660,99</strike></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info instock">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .product-box-list  -->
          <div class="product-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a class="product-name" href="/">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="product-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="has-discount">
                        <div class="original-price"><strike>$1660,99</strike></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info instock">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .product-box-list  -->
        </div><!-- end .view-compact -->
          <button class="btn btn-block">Show more</button>
        </div>
      </div>
