
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-left s-listing">
            <div class="sidebar-widget">
              <ul class="nav nav-pills nav-stacked">
                <li class="sidebar-nav-back">
                <a href="/" class="go_up"><span class="glyphicon glyphicon-arrow-left"></span> Back to <span class="parent_nav_name">Home</span></a>
                </li>
                <li class="active">
                  <a class="current_nav" href="/">Shirts</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">T-shirts</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">Jackets</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">Shoes</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">Sport wear</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">Outwear</a>
                </li>
                <li class="nav-sibling">
                  <a class="link" href="/">Shorts</a>
                </li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h3>Size</h3>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Small <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Medium <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Large <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Extra Large <span class="txt-secondary">(424)</span></label>
              </div>
            </div>
            <div class="sidebar-widget">
              <h3>Color</h3>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Blue <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Red <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						Green <span class="txt-secondary">(424)</span></label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />
						White <span class="txt-secondary">(424)</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="listing-top">
            <div class="row">
              <div class="col-md-4">
                <ul class="pagination">
                  <li>
                    <a href="#">«</a>
                  </li>
                  <li>
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                  <li>
                    <a href="#">»</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-5">
                <div class="listing-results-number">
                  Showing results <strong><span class="pager_first_entry">1</span>-<span class="pager_last_entry">20</span></strong> of <strong class="count">400</strong></div>
              </div>
              <div class="col-md-3">
                <select class="form-control input-sm">
                  <option>Sort by</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
          <!--  ***** GRID VIEW ************************************  -->
          <div class="row">
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <span class="label label-warning discount">-20%</span>
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
          </div>
          <!--  end .row  -->
          <div class="row">
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <span class="label label-warning discount">-20%</span>
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
          </div>
          <!--  end .row  -->
          <div class="row">
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
            <div class="col-md-4">
              <div class="product-box">
                <span class="label label-warning discount">-20%</span>
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a href="/product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <strike>$1660,99</strike>
                        <br />
                        <div class="product-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info">in stock</span>
                        </div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!--  end .product-box  -->
					
				</div>
          </div>
          <!--  end .row  -->
			
			
			<!--  ***** LIST VIEW ************************************  -->
          <div class="item-box-list">
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive item-box-list-image" src="/img/img_product.jpg" />
              </div>
              <div class="col-md-6">
                <div class="product-details">
                  <div class="item-list-title"><a href="/product-page.html">Organic gift basket for babies</a> <span class="item-list-rating"><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star_off.png" /></span> <span class="label label-info">in stock</span></div>
                  <div class="product-description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...
							</div>
                </div>
              </div>
              <div class="col-md-2">
                <strike>$1660,99</strike>
                <br />
                <div class="product-price">$1520,99</div>
                <span class="label label-warning discount-list">-20%</span>
              </div>
              <div class="col-md-2">
                <div class="item-list-actions">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-3 control-label" for="">Qty.:</label>
                        <div class="col-md-8">
                          <input class="form-control" type="text" value="1" />
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .item-box-list  -->
			

			<!--  ***** LIST VIEW - SIMPLE ************************************  -->
          <div class="item-box-list">
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive item-box-list-image" src="/img/img_product.jpg" />
              </div>
              <div class="col-md-6">
                <div class="product-details">
                  <div class="item-list-title"><a class="item-title" href="">Organic gift basket for babies</a> <span class="item-list-rating"><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star.png" /><img src="/img/i_rating-star_off.png" /></span></div>
                  <div class="row">
                    <div class="col-md-3">
                      <strike>$1660,99</strike>
                      <br />
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-3">
                      <span class="label label-info">in stock</span>
                    </div>
                    <div class="col-md-3">
                      <span class="label label-warning discount-list">-20%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-list-actions-simple">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .item-box-list  -->
			
			
			<!--  ***** COMPACT VIEW ************************************  -->
          <div class="item-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a href="/product-page.html">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <strike>$1660,99</strike>
                      <br />
                    </div>
                    <div class="col-md-4">
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .item-box-list  -->
          <div class="item-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a href="/product-page.html">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <strike>$1660,99</strike>
                      <br />
                    </div>
                    <div class="col-md-4">
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .item-box-list  -->
          <div class="item-box-compact">
            <div class="row">
              <div class="col-md-5">
                <div class="item-list-title">
                  <a href="/product-page.html">Organic gift basket for babies</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-compact-description">
                  <div class="row">
                    <div class="col-md-4">
                      <strike>$1660,99</strike>
                      <br />
                    </div>
                    <div class="col-md-4">
                      <div class="product-price">$1520,99</div>
                    </div>
                    <div class="col-md-4">
                      <span class="label label-info">in stock</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-list-actions-compact">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="control-label" for="">Qty.:</label>
                      <input class="form-control input-sm" style="width: 50px;" type="text" value="1" />
                    </div>
                    <button class="btn btn-success btn-sm">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--  end .item-box-list  -->
          <button class="btn btn-block">Show more</button>
        </div>
      </div>
