      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-left s-listing">
            <!-- product-listing-sidebar-left goes here -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="listing-top">
            <!-- product-listing-top goes here -->
          </div>
          <hr>
          <div class="view-grid">
            <div class="row product-box-grid-row">
              <div class="col-md-4 product-box-grid">
                <div class="row">
                  <div class="col-md-5">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div class="product-details">
                      <div class="product-description">
                        <a class="product-name" href="/">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="has-discount">
                          <div class="price"><strike>$1660,99</strike></div>
                        </div>
                        <div class="has-variants">Prices from</div>
                        <div class="product-price selling-price">$1520,99</div>
                        <div class="form-group">
                          <span class="label label-info instock">in stock</span>
                        </div>
                        <form action="/cart" method="post">
                          <input type="hidden" name="sku" class="sku" value="">
                          <button class="btn btn-success btn-sm">Add to cart</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-block">Show more</button>
        </div>
      </div>
