
      <!--  SUBPAGE BREADCRUMBS  -->
      <div class="row">
        <div class="col-md-3">
          <ol class="breadcrumb">
            <li>
              <a href="#"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
            </li>
          </ol>
        </div>
        <div class="col-md-9">
          <ol class="breadcrumb">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Category 1</a>
            </li>
            <li class="active crumb">Subcategory</li>
          </ol>
        </div>
      </div>
      <!--  end .row  -->


	<!--  PRODUCT  -->
      <div class="row">
        <div class="col-md-3">
          <div class="product-image">
            <div class="image-preview">
              <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
            </div>
            <div class="image-thumbnails">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <div class="product-image-tmb">
                    <img class="img-responsive img-thumbnail" src="/img/img_product.jpg" />
                  </div>
                </div>
              </div>
             <!--  end .row  -->
							</div>
          </div>
          <!--  PRODUCT - left bar  -->
          <div class="sidebar-boxed product-video">
            <h4>Videos</h4>
            <div class="row">
              <div class="col-md-6">
									video 1
								</div>
              <div class="col-md-6">
									video 2
								</div>
            </div>
          <!--  end .row  -->
						</div>
          <div class="sidebar-boxed product-similar">
            <h4>Similar products on sale</h4>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-6">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!--  end .row  -->
						</div>
          <div class="sidebar-boxed product-specs">
            <h4>Specs</h4>
            <table cellpadding="" cellspacing="" width="100%">
              <tr>
                <td>
                  <span class="txt-label">Color</span>
                </td>
                <td>Bluw, Red, White</td>
              </tr>
              <tr>
                <td>
                  <span class="txt-label">Brand</span>
                </td>
                <td>Nike</td>
              </tr>
              <tr>
                <td>
                  <span class="txt-label">Material</span>
                </td>
                <td>100% cotton</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="product-title">Organic gift basket for babies</h1>

          <div class="row">
            <div class="product-rating-wrap">
              <div class="col-md-4">
                <span class="product-rating">
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star.png" />
                  <img src="/img/i_rating-star_off.png" />
                </span>
              </div>

              <div class="col-md-8">
                <div class="product-reviews-summary">
                  <span class="rating">4.7/5</span> based on <span>66</span> <a href="">reviews</a> | <a href="add-review.html">Write a review</a>
                </div>
              </div>
            </div>
            <div class="first-review">
              <div class="col-md-8">
                <a class="btn btn-primary btn-sm" href="/add-review.html">Be the first to review this product!</a>
              </div>
            </div>
          </div><!--  end .row  -->

          <p class="short-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
          <div class="well product-order-box">
            <div class="row">
              <div class="col-md-6">
                <form action="/cart" method="post">
                  <div class="variant-error form-error">
                    Sorry, the current selection isn't available.
                    Please choose a different combination.
                  </div>

                  <div class="product-attributes-list">
                    <div class="form-group product-attributes-item">
                      <label class="product-attributes-title">Color</label>
                      <select class="form-control product-attributes-name">
                        <option class="product-attributes-values-item product-attributes-value">White</option>
                      </select>
                    </div>
                    <div class="form-group product-attributes-item">
                      <label class="product-attributes-title">Size</label>
                      <select class="form-control product-attributes-name">
                        <option class="product-attributes-values-item product-attributes-value">S</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Quantity</label>
                    <input class="form-control" type="text" name="quantity" value="1">

                  </div>
                  <div class="product-action">
                    <input type="hidden" name="sku" class="sku" value="">
                    <button class="btn btn-success btn-large">Add to cart</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="product-price-details">
                  <label>Price</label>
                  <div class="price-and-discount">
                    <div class="price-before">$1890.99</div>
                    <div class="discount">
                      <span class="label label-warning">-20%</span>
                    </div>
                  </div>
                  <div class="price">$1890.99</div>
                </div>
                <div class="low-stock-alert alert alert-success alert-small">Only <strong>2 left</strong> in stock, buy before they run out</div>
                <div class="product-availability alert alert-success alert-small">Usually available in 3 to 4 days</div>
              </div>
            </div>
           <!--  end .row  -->
					</div>
          <!--  end .product-order-box  -->
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="content-section reviews">
            <h4>Reviews</h4>
            <div class="review-actions">
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary btn-sm">Write a review</button>
                </div>
                <div class="col-md-6">
                  <div class="form-inline text-right">Sort by <select class="form-control"><option>Date</option></select></div>
                </div>
              </div>
             <!--  end .row  -->
						</div>
            <div class="review-single">
              <div class="row">
                <div class="col-md-4">
                  <span class="product-rating">
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star_off.png" />
                  </span>
                </div>
                <div class="col-md-8">
                  <div class="product-reviews-summary"><span class="review-rating">4.7</span>/<span>5</span> by <span class="review-author">John Smith</span> on <span class="review-date">6/19/2016</span>
									</div>
                </div>
              </div>
              <!--  end .row  -->
              <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div class="review-helpful"><span class="label label-success helpful">3 helpful</span> <span class="label label-default not-helpful">2 not helpful</span></div>
            </div>
            <!--  end .review-single  -->
            <div class="review-single">
              <div class="row">
                <div class="col-md-4">
                  <span class="product-rating">
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star.png" />
                    <img src="/img/i_rating-star_off.png" />
                  </span>
                </div>
                <div class="col-md-8">
                  <div class="product-reviews-summary"><span>4.7/5</span> by <span>John Smith</span> on on 6/19/2016
									</div>
                </div>
              </div>
              <!--  end .row  -->
              <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div class="review-helpful"><span class="label label-success helpful">3 helpful</span> <span class="label label-default not-helpful">2 not helpful</span></div>
            </div>
            <!--  end .review-single  -->
            <button class="btn btn-defautl btn-xs btn-block">Show more</button>
          </div>
          <!--  end .content-section  -->
          <div class="content-section specs">
            <h4>Specs</h4>
            <div class="row">
              <div class="col-md-6">
                <table cellpadding="" cellspacing="" width="100%">
                  <tr>
                    <td>
                      <span class="txt-label">Color</span>
                    </td>
                    <td>Bluw, Red, White</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="txt-label">Brand</span>
                    </td>
                    <td>Nike</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="txt-label">Material</span>
                    </td>
                    <td>100% cotton</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table cellpadding="" cellspacing="" width="100%">
                  <tr>
                    <td>
                      <span class="txt-label">Color</span>
                    </td>
                    <td>Bluw, Red, White</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="txt-label">Brand</span>
                    </td>
                    <td>Nike</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="txt-label">Material</span>
                    </td>
                    <td>100% cotton</td>
                  </tr>
                </table>
              </div>
            </div>
           <!--  end .row  -->
					</div>
          <!--  end .content-section  -->
          <div class="content-section accessories">
            <h4>Accessories</h4>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
               <!--  end .product-box-sml  -->
							</div>
              <div class="col-xs-6 col-md-3">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
               <!--  end .product-box-sml  -->
							</div>
              <div class="col-xs-6 col-md-3">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
               <!--  end .product-box-sml  -->
							</div>
              <div class="col-xs-6 col-md-3">
                <div class="product-box-sml">
                  <img class="img-responsive" src="/img/img_product.jpg" />
                  <div class="product-details">
                    <div class="product-description">
                      <a href="product-page.html">Organic gift basket for babies</a>
                    </div>
                    <div class="product-options">
                      <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                      <button class="btn btn-success btn-sm">Add to cart</button>
                    </div>
                  </div>
                </div>
               <!--  end .product-box-sml  -->
							</div>
            </div>
           <!--  end .row  -->
					</div>
          <!--  end .content-section  -->
          <div class="content-section q-and-a">
            <h4>Questions and answers</h4>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
								Q: Why is this basket so sloppy assembled, it looks very cheap?
								</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body"><h5>Answer</h5>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
								Q: Why is this basket so sloppy assembled, it looks very cheap?
								</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body"><h5>Answer</h5>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
								Q: Why is this basket so sloppy assembled, it looks very cheap?
								</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                  <div class="panel-body"><h5>Answer</h5>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
                </div>
              </div>
            </div>
          </div>
         <!--  end .content-section  -->
				 </div>
        <div class="col-md-3">
          <!--  PRODUCT - right bar  -->
          <div class="sidebar-right s-product">
            <div class="sidebar-boxed product-similar">
              <h4>Similar products on sale</h4>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-6">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                      <div class="product-options">
                        <div class="form-group"><span class="product-price">$1520,99</span> <span class="label label-info">in stock</span></div>
                        <button class="btn btn-success btn-sm">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!--  end .row  -->
					</div>
            <!--  end .sidebar-boxed  -->
            <div class="sidebar-boxed product-similar">
              <h4>Buy together and save</h4>
              <div class="row">
                <div class="col-md-5">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="big-plus">+</div>
                </div>
                <div class="col-md-5">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end .row  -->
              <div class="clear-10"></div>
              <button class="btn btn-success btn-sm align-center">Add to cart</button>
            </div>
            <!--  end .sidebar-boxed  -->
            <div class="sidebar-boxed product-similar">
              <h4>Buy together and save</h4>
              <div class="row no-gutter">
                <div class="col-md-6">
                  <div class="product-box-xsml">
                    <div class="row no-gutter">
                      <div class="col-md-4">
                        <img class="img-responsive" src="/img/img_product.jpg" />
                      </div>
                      <div class="col-md-8">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-box-xsml">
                    <div class="row no-gutter">
                      <div class="col-md-4">
                        <img class="img-responsive" src="/img/img_product.jpg" />
                      </div>
                      <div class="col-md-8">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-box-xsml">
                    <div class="row no-gutter">
                      <div class="col-md-4">
                        <img class="img-responsive" src="/img/img_product.jpg" />
                      </div>
                      <div class="col-md-8">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="big-plus">+</div>
                </div>
                <div class="col-md-4">
                  <div class="product-box-sml">
                    <img class="img-responsive" src="/img/img_product.jpg" />
                    <div class="product-details">
                      <div class="product-description">
                        <a href="product-page.html">Organic gift basket for babies</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end .row  -->
              <div class="clear-10"></div>
              <button class="btn btn-success btn-sm align-center">Add to cart</button>
            </div>
            <!--  end .sidebar-boxed  -->
            <h4>Quastions and answers</h4>
            <div class="panel-group" id="accordion2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion2" data-toggle="collapse" href="#collapseOne2">
						Q: Why is this basket so sloppy assembled, it looks very cheap?
						</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne2">
                  <div class="panel-body"><h5>Answer</h5>
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion2" data-toggle="collapse" href="#collapseTwo2">
						Q: Why is this basket so sloppy assembled, it looks very cheap?
						</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo2">
                  <div class="panel-body"><h5>Answer</h5>
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-parent="#accordion2" data-toggle="collapse" href="#collapseThree2">
						Q: Why is this basket so sloppy assembled, it looks very cheap?
						</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree2">
                  <div class="panel-body"><h5>Answer</h5>
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
                </div>
              </div>
            </div>
            <div class="sidebar-boxed sidebar-contact">
              <h4>Question about this product?</h4>
              <div class="row">
                <form action="" method="post" role="form">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="InputName">Your Name</label>
                      <div class="input-group">
                        <input class="form-control" id="InputName" name="InputName" placeholder="Enter Name" required="required" type="text" />
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="InputEmail">Your Email</label>
                      <div class="input-group">
                        <input class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required="required" type="email" />
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="InputMessage">Message</label>
                      <div class="input-group">
                        <textarea class="form-control" id="InputMessage" name="InputMessage" required="required" rows="5"></textarea>
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-ok form-control-feedback"></i>
                        </span>
                      </div>
                    </div>
                    <input class="btn btn-info pull-right" id="submit" name="submit" type="submit" value="Send" />
                  </div>
                </form>
              </div>
             <!--  end .row  -->
						
					</div>
           <!--  end .sidebar-boxed  -->

					</div>
        </div>
      </div>
